<% provide :title, t(".a") %>
<%= link_to t(".en"), locale: "en" %>
<%= link_to t(".vi"), locale: "vi" %>
<h1><%= t(".a") %></h1>
<p>
  <%= link_to t(".rrt"), Settings.link_rails_tut %>
  <%= link_to t(".b"), Settings.link_rails_tut %>
  <%= t(".and") %> <%=  link_to t(".screencast series"), Settings.link_rails_tut %>
  <%= t(".twdw") %> <%= link_to t(".Ruby on Rails"), Settings.link_rails_tut %>
  <%= t(".saftt") %>
</p>
