<% provide :title, t(".con") %>
<%= link_to t(".en"), locale: "en" %>
<%= link_to t(".vi"), locale: "vi" %>
<h1><%= t(".con") %></h1>
<p>
  <%= t(".ctror") %> <%= link_to t(".ct"), Settings.link_rails_tut %>
</p>
