<% provide :title, t(".sp") %>
<%= link_to t(".en"), locale: "en" %>
<%= link_to t(".vi"), locale: "vi" %>
<h1><%= t(".sp") %></h1>
<p>
  <%= t(".tutorial") %> <%= link_to t(".rrt"), Settings.link_rails_tut %>
</p>
